<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.lb.rxjavaexample">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".core.ExamplesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RxJavaExample">
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/LaunchTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.post.PostActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.examples.ExamplesActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.todo.TodoActivity"
            android:exported="true">
        </activity>
    </application>

</manifest>